@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h3>How it works</h3>
<div>
    The sensor is connected to a Raspberry PI via BLE. Then the Raspberry PI connects to XSockets on Azure via nodejs on the Raspberry PI.
    Since XSockets has a full-duplex connection to the Raspberry PI we can read/write data to the sensor in real-time from anywhere in the world.
    This example uses JavaScript, but any TCP client can be used.
</div>
<img src="http://xsockets.net/$2/file/article-cc2650.png" />

<h3>Article about the solution</h3>
<div><a href="https://github.com/uffebjorklund/TI-CC2650">GitHub</a></div>
<h3>Source code</h3>
<div><a href="https://github.com/uffebjorklund/TI-CC2650">GitHub</a></div>
